:root {
  --primary-50: #d3d3d4;
  --primary-100: #9a9d9f;
  --primary-200: #7b7f83;
  --primary-300: #64696d;
  --primary-400: #404547;
  --primary-500: #2c3134;
  --primary-600: #25292c;
  --primary-700: #1e2124;
  --primary-800: #12181e;
  --primary-900: #04070a;
  --primary-A100: #a1a8ac;
  --primary-A200: #8e969e;
  --primary-A400: #525d61;
  --primary-A700: #323940;
  --primary-background: #343A3E;
  --primary-contrast-dark: rgba(255, 255, 255, 0.8);


  --accent-50: #F1F8E9;
  --accent-100: #DCEDC8;
  --accent-200: #C5E1A5;
  --accent-300: #AED581;
  --accent-400: #9CCC65;
  --accent-500: #8BC34A;
  --accent-600: #7CB342;
  --accent-700: #689F38;
  --accent-800: #558B2F;
  --accent-900: #33691E;
  --accent-A100: #8BC34A;
  --accent-A200: #8BC34A;
  --accent-A400: #8BC34A;
  --accent-A700: #8BC34A;
}
''
body {
  flex-direction: column;
  display: flex;
  width: inherit;
  height: inherit;
  background-color: var(--primary-background);
  color: var(--primary-contrast-dark);
}
''
body > .container-fluid {
  max-height: 100%;
  overflow-y: auto;
  margin: auto;
  display: flex;
  flex: 1;
  padding-left: 0;
}

body > .container-fluid .tab-content {
  width: 100%;
}


html, body {
  height: 100%;
}



pre {
  padding: .5rem;
  line-height: 1.25;
  overflow-x: scroll;
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #33691E; !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

a,
a:visited {
  color: #F1F8E9;
}

a:hover,
a:focus,
a:active {
  color: #F1F8E9;
}

.retro-no-decoration {
  text-decoration: none;
}

html {
  font-size: 14px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 16px;
  }
}

body {
  line-height: 1.85;
}

p,
.retro-p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

h1,
.retro-h1,
h2,
.retro-h2,
h3,
.retro-h3,
h4,
.retro-h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
}

h1,
.retro-h1 {
  margin-top: 0;
  font-size: 3.998rem;
  color: #8BC34A;
}

h2,
.retro-h2 {
  font-size: 2.827rem;
}

h3,
.retro-h3 {
  font-size: 1.999rem;
}

h4,
.retro-h4 {
  font-size: 1.9rem;
}

h5,
.retro-h5 {
  font-size: 1.5rem;
}

h6,
.retro-h6 {
  font-size: .95rem;
}

small,
.retro-small {
  font-size: .85em;
}

/* https://github.com/mrmrs/fluidity */

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

html,
body {
  background-color:#343A3E;
  min-height: 100%;
}

html {
  font-size: 18px;
}

body {
  color: #fafafa;
  font-family: "Times";
  line-height: 1.45;
  margin: 6rem auto 1rem;
  max-width: 45rem;
  padding: .25rem;
}

pre {
  background-color: #343A3E;
}

blockquote {
  border-left: 3px solid #404547;
  padding-left: 1rem;
}